form {
    width: 90%;
    max-width: 300px;
    background-color: #fff;
    padding: 33px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

label {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: black;
    margin-bottom: 26px;
}

textarea {
    background-color: beige;
    border: 2px solid lightslategray;
    border-radius: 5px;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    color: black;
    font-size: 20px;
    text-align: center;
    padding: 12px;
    height: 96px;
    width: calc(100% - 25px);
}

textarea:focus {
    outline-color: dimgray;
}

.item-form-btn-container {
    margin-top: 14px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.item-form-btn {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: black;
    font-weight: 400;
    width: 120px;
    height: 48px;
    border-radius: 5px;
    border: none;
    font-family: "Nunito", sans-serif;
}

.item-form-btn-cancel {
    background: firebrick;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}

.item-form-btn-add {
    background: forestgreen;
}

.item-form-btn-cancel:hover {
    background: red;
    box-shadow: 0px 5px 25px rgba(97, 218, 250, 0.5);
}

.item-form-btn-add:hover {
    background: lime;
}